@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&family=Satisfy&family=Ysabeau+Office&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.about-us-h{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7rem;
}
.feedback-section{
    padding: 4% 0;
}
.customer-head{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    font-weight: 700;
}
.feed-card-1{
    font-family: 'Poppins', sans-serif;
    background-color: #FBB316;
    color: #3b3a3a;
    padding: 2rem 2.7rem;
    border-radius: 15px;
}
.feed-name{
    font-weight: 600;
}
.feed-card-2{
    font-family: 'Poppins', sans-serif;
    background-color: #3b3a3a;
    color: rgb(188, 184, 184);
    padding: 2rem 2.7rem;
    border-radius: 15px;
}