@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* color: white; */
    /* background-color: black; */
}
a{
    text-decoration: none !important;
    color: black !important;
}
.logo{
    /* background-color: red; */
}
.logo-1{
 text-decoration: none;
 font-size: 23px;
 color: #0B0A0B;
 font-weight: 700;
 font-family: 'Roboto', sans-serif;
}
.logo-2{
 text-decoration: none;
 color: #FFAB01;
 font-weight: 700;
 font-family: 'Roboto', sans-serif;
}

.button-34 {
  background: #0B0A0B;
  border-radius: 999px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.nav-item{
    font-weight: 500;
    padding: 0 10px;
}
.nav-link:hover{
    color: #FFAB01 !important;
}
.footer{
    background-color: #0B0A0B;
}
.logo-3{
    text-decoration: none;
    font-size: 23px;
    color: white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.white{
    text-decoration: none;
    font-size: 23px;
    color: white !important;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.footer-link{
    display: flex;
    color: white !important;
    justify-content: space-between;

}
.footer-link a{
    color: white !important;
    font-size: 20px ;
    transition: 0.5s;
}
.footer-link a:hover{
    color: #EBA219 !important;
}
.fa-facebook-f{
   color: white !important;
}
.fa-instagram{
    color: white;
}
.fa-twitter{
    color: white !important;
}
.fa-map-location-dot{
    color: white !important;
    transition: 0.5s;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    padding-left: 30%;
}
.footer-icons .fa-brands{
    transition: 0.5s;
}
.footer-icons .fa-brands:hover{
 cursor: pointer;
 color: #EBA219 !important;
}
.fa-map-location-dot:hover{
    cursor: pointer;
    color: #EBA219 !important;
}
.footer-end{
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.footer-end p{
    color: white;
   }